.container-main{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    padding: 5rem 0;
}
.container-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-container{
    border: 2px solid #D9D9D9; 
    border-radius: 1rem;
    padding: 2rem 1rem;
    width: 25rem;
}
.container-content>img{
    margin-bottom: 5rem;
    cursor: pointer;
}
.condition-info a{
    color: #072AC8;
    cursor: pointer;
}
.condition-info{
    font-size: 0.8rem;
    width: 85%;
    margin-top: 1rem;
}
.social-connect-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2rem;
}
.social-connect-bar span{
    margin: 0 1rem;
    font-size: 0.8rem;
}
.social-connect-bar2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}
.social-connect-bar2 span{
    margin: 0 0;
    font-size: 0.8rem;
}
.barre{
    width: 50%;
    height: 1px;
    background-color: #D9D9D9;
}
.barre2{
    width: 20%;
    height: 1px;
    background-color: #D9D9D9;
}
.social-connect{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.social-connect-item{
    margin: 0 1rem;
    cursor: pointer;
}
.social-connect-item img{
    width: 2rem;

}

// phone 
@media screen and (max-width: 767px) {
    .form-container{
        width: 18rem;
    }
    .condition-info{
        width: 100%;
    }
}