.user-space-container{
    width: 80%;
    margin: auto;
}
.search-title{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
}
.fixed-title{
    color: #072AC8;
    cursor: pointer;
}
.search-value{
    font-style: italic;
    font-weight: bold;
}
.info-profile-container{
    width: 100%;
    background-color: #FFF;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 1.5rem;
}
.left-content{
    width: 70%;
}
.main-content{
    display: flex;
}
.garantie-bloc{
    background-color: #FFF;
    padding: 1rem 1rem 0.5rem 1rem;
    border-radius: 1rem;
    margin-left: 2rem;
    height: max-content !important;
    margin-top: 1.5rem;
}
.garantie-action{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.garantie-action-item{
    color: #FFC600;
    font-weight: 500;

}
// phone
@media screen and (max-width: 767px) {
    .garantie-bloc {
       display: none;
    }
    .left-content {
        width: 100%;
    }
    .user-space-container{
        width: 100%;
    }
 
}