<div class="detail-container">
    <div class="search-title">
        <span class="fixed-title" routerLink="/home">Accueil</span>
        <img src="./../../../../assets/SVG/chevron_droit.svg" />
        <span class="search-value">{{articleData?.name}}</span>
    </div>

    <div class="detail-content">
        <div class="detail-content-infos">
            <div class="article-image" *ngIf="articleImages?.length">
                <app-images-visualisation [listImages]="articleImages"></app-images-visualisation>
            </div>
            <div class="article-infos">
                <app-info-detail-article [article]="articleData"></app-info-detail-article>
            </div>

        </div>
        <div class="garantie-bloc">
            <div class="list-garantie" *ngFor="let garantie of garantiesData">
                <app-garantie-item [garantie]="garantie"></app-garantie-item>
            </div>
        </div>
    </div>


    <div class="description-container">
        <div class="description-content">
            <span class="description-title">À Propos de cet article</span>

            <p class="description-text">
             {{articleData?.description}}
            </p>

            <div class="description-images">
                <div class="description-image" *ngFor="let image of articleImages | slice:0:4">
                    <img [src]="image.image" alt="image de l'article djet" />
                </div>

            </div>

        </div>

    </div>
</div>

<div class="proposition-bloc" *ngIf="productData?.length">
    <span class="proposition-bloc-title">Ces articles pourraient vous intéresser aussi</span>
    <div class="proposition-list">
        <div class="proposition-item" *ngFor="let proposition of productData">
            <app-simple-article-card-item [productData]="proposition"></app-simple-article-card-item>
        </div>
    </div>
</div>
<!-- <div class="categorie-produit-nav">
    <div class="produit-nav-list" *ngFor="let produitNav of produitNavs">
        <app-categorie-produit-nav-item [categorieProduitNav]="produitNav"></app-categorie-produit-nav-item>

    </div>
</div> -->

<div class="footer-banner">
    <app-footer-banner></app-footer-banner>
</div>