.change_item_style{
    background-color: #072AC8;
    color: #FFF;

}
.change-button{
    background-color: #072AC8;
    color: #FFF;
    padding: 0.2rem 1.5rem;
    border-radius: 0.2rem;
    margin-left: 0.4rem;
}
.pagination-item{
    padding: 0.2rem 0.5rem;
    border: 1px solid black;
    border-radius: 0.2rem;
    margin-left: 0.3rem;
}
.change-button svg{
    display: none;

}

// phone
@media screen and (max-width: 768px) {
    .change-button span{
        display: none;
    }
    .change-button svg{
        display: block;
        width: 1rem;
    }
    .pagination-container {
        display: flex;
    }
    .change-button {
        padding: 0.2rem 0.5rem;
        
    }
}