<div class="panier-container">
    <div class="search-title">
        <span class="fixed-title" routerLink="/home">Accueil</span>
        <img src="./../../../../assets/SVG/chevron_droit.svg" />
        <span class="search-value">Panier</span>
    </div>

    <div class="valid-success-bloc" *ngIf="isValideCommande">
        <img src="./../../../../assets/SVG/check_circle.svg" alt="">
        <span class="title">Félicitation !</span>
        <p>Vous avez effectué votre commande avec succès.
            Vous pouvez voir les détails dans votre espace personnel.Commande n° 0123-456789-AB</p>

        <app-button (clicked)="goToHome()" [styles]="{padding:'0.5rem 3rem 0.5rem 3rem'}" label="Passez une autre commande">
            <img src="./../../../../assets/SVG/local_mall.svg">
        </app-button>
    </div>
    <ng-container *ngIf="!isValideCommande">
    <div class="panier-content-container">
    <div class="main-panier-content">
        
        <div class="commandes-container">
            <div class="commandes-header">
                <div class="commande-header-title">
                   <span class="commande-header-title-lib">Commande en cours</span>
                   <span class="commande-length">{{paniers.length}} produits dans le panier</span>
                  
                </div>
                <span  class="commande-total">{{totalPrices | number:'1.0-0'}} FCFA</span>
            </div>

            <div class="livraison-adresse">
                <div class="livraison-adresse-content">
                <div class="livraison-adresse-header">
                <span class="livraison-adresse-title">Adresse de livraison</span>
                <div class="update-button-content">
                <img src="./../../../../assets/SVG/update-icon-blue.svg" />
                <span class="update-button">Modifier</span>
                </div>
                </div>
                <app-key-value-item [styles]="{alignItems:'flex-start', marginTop:'1rem'}"  key="Commune" value="Cocody"></app-key-value-item>
                <app-key-value-item [styles]="{alignItems:'flex-start', marginTop:'1rem'}"   key="Quartier" value="Riviera palmeraie"></app-key-value-item>
                <app-key-value-item [styles]="{alignItems:'flex-start', marginTop:'1rem'}"  key="Détail" value="Rond-point de la Palmeraie, immeuble en face de la BICICI, deuxièlme étage, première porte à gauche"></app-key-value-item>
                </div>
                <div class="profile-info">

                    <ng-container *ngIf="userData">
                        <app-key-value-item [styles]="{alignItems:'flex-start', marginTop:'1rem'}"  key="Nom utilisateur" [value]="userData?.username"></app-key-value-item>
                        <app-key-value-item [styles]="{alignItems:'flex-start', marginTop:'1rem'}"   key="Téléphone" [value]="userData?.phone"></app-key-value-item>
                        <app-key-value-item [styles]="{alignItems:'flex-start', marginTop:'1rem'}"  key="Email" [value]="userData?.email"></app-key-value-item>
                        <app-key-value-item [styles]="{alignItems:'flex-start', marginTop:'1rem'}"  key="Adresse" [value]="userData?.address"></app-key-value-item>
                        </ng-container>
                   
                </div>
            </div>

            <div class="paye-method-bloc">
                <span class="paye-method-bloc-title">Mode de paiement</span>
                <div class="paye-method-bloc-content">
                    <div class="point-style">
                        <div class="point-style-item"></div>
                    </div>
                    <span>paiement à la livraison</span>
                </div>
            </div>
                


 
            

            <!--No data block-->
            
        </div>
        <div class="commande-resume">
            <div class="resume-bloc" >
                <div class="resum-content">
                <span class="resume-bloc-title">Résumé du panier</span>
                <app-key-value-item [styles]="{justifyContent:'space-between'}" key="Total" [value]="(totalPrices | number:'1.0-0') + ' FCFA'"></app-key-value-item>
                <app-key-value-item [styles]="{justifyContent:'space-between'}"  key="Livraison" value="2000 FCFA"></app-key-value-item>
                <app-key-value-item  [styles]="{justifyContent:'space-between'}"  key="Réduction" value="5%"></app-key-value-item>
                </div>
                <app-key-value-item [styles]="{justifyContent:'space-between'}" key="Total" [value]="(totalPrices | number:'1.0-0') + ' FCFA'"></app-key-value-item>

                <app-button (clicked)="valideCommande()" [styles]="{ padding:'0.4rem 1rem'}" label="valider"></app-button>
            </div>
            <div class="garrantie-bloc">
                <div class="list-garantie" *ngFor="let garantie of garantiesData">
                    <app-garantie-item [garantie]="garantie"></app-garantie-item>
                </div>
            </div>

        </div>
    </div>
    </div>
    </ng-container>

    <div class="proposition-bloc" *ngIf="productData?.length">
        <span class="proposition-bloc-title">Ces articles pourraient vous intéresser aussi</span>
        <div class="proposition-list">
            <div class="proposition-item" *ngFor="let proposition of productData">
                <app-simple-article-card-item [productData]="proposition"></app-simple-article-card-item>
            </div>
        </div>
    </div>
    <div class="categorie-produit-nav">
        <div class="produit-nav-list" *ngFor="let produitNav of produitNavs">
            <app-categorie-produit-nav-item [categorieProduitNav]="produitNav"></app-categorie-produit-nav-item>
    
        </div>
    </div>

    
</div>

