.update-profile-title{
    font-size: 1.3rem;
    font-weight: 500;
}
.info-profile-container{
    background-color: #E7EBFE66;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}
.logout-button{
    color: #072AC8;
}
.profile-action-bloc{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.update-button-bloc{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 1rem;
}
.update-form-bloc{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.form-bloc{
    width: 100%;
    background-color: #E7EBFE66;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 1.5rem;
    position: relative;

}
.form-input{
    width: 19rem;
}
.form-button{
    margin-top: 1rem;
}
.close-form-bloc{
    position: absolute;
    right: 1rem;
    top: 1rem;
}
.close-form-bloc svg{
    cursor: pointer;
    width: 1.5rem;
}
// phone
@media screen and (max-width: 767px) {
    .info-profile-container {
        flex-direction: column;
        gap: 1rem;
    }
    .infos-content-bloc {
        width: 100%;
    }
    .profile-action-bloc{
        width: 100%;
    
    }
}
