<div class="container-main">
    <div class="foot_bloc1">
        <div class="logo">
            <img src="./../../../../assets/SVG/Logo-Djet.svg"/>
        </div>
        <div class="form-bloc">
            <div class="form-msg">
                <span class="form-msg-title">Nouveau sur Djet Technologies ?</span>
                <span class="form-msg-content">Inscrivez-vous à nos communications pour recevoir nos meilleurs affres!</span>
            </div>
            <form [formGroup]="newLesterForm">
            <div class="form-content">
                <div class="input-content">
                <app-input  controlName="email" placeholderText="Saisissez votre adresse email" [styles]="{border:'1px solid #FFF'}">
                    <img src="./../../../../assets/SVG/mail.svg"/>
                </app-input>
           
                </div>
                <div class="input-content-button">
                <app-button label="S'inscrire" [styles]="{height:'3rem', padding:'0 1.5rem', display:'flex', flexDirection:'column', justifyContent:'center', border:'1px solid transparent', marginLeft:'1rem'}"></app-button>
                </div>
            </div>
        </form>
        </div>
        <div class="diver">
         
            <div class="diver-bloc1">
                <img src="./../../../../assets/SVG/logo-plein.svg" alt="logo djet">
                <div class="diver-bloc1-msg">
                    <span class="msg1">Dans votre poche</span>
                    <span class="msg2">Télécharger l'app sur</span>
                </div>
            </div>
            <div class="diver-block2">
                <div class="store">
                    <img src="./../../../../assets/SVG/apple-logo.svg">
                    <span>App Store</span>
                </div>
                <div class="store">
                    <img src="./../../../../assets/SVG/playStore-logo.svg">
                    <span>PlayStore</span>
                </div>
            </div>
        </div>
    </div>
    <div class="foot_bloc2">
        <div class="foot_bloc2-content">
        <div class="aide-content">
        <div class="ai">
            <span class="aide-content-title">besoin d'aide</span>
            <span>Aides et FAQ</span>
            <span>Discuter avec nous</span>
            <span>infos&#64;djet-technologies.com</span>
            <span>+225 2720202020</span>
        </div>
        </div>
        <div class="categorie-content">
            <div class="ai">
            <span class="aide-content-title">Catégories</span>
            <span>Smartphones</span>
            <span>PC & MAC</span>
            <span>Stockage</span>
            <span>Audios et Vidéos</span>
        </div>
        </div>
        <div class="social-media-content">
            <div class="ai">
            <span class="aide-content-title">Retrouvez-nous sur nos réseaux sociaux</span>
            <div class="social-media-content-img">
            <img src="./../../../../assets/SVG/facebook.svg">
            <img src="./../../../../assets/SVG/insta.svg">
            <img src="./../../../../assets/SVG/tiktok.svg">
            <img src="./../../../../assets/SVG/linkedin.svg">
            <img src="./../../../../assets/SVG/x.svg">
            </div>
        </div>
        </div>
    </div>
    <div class="signature">
        <span> 2025-Djet Corporate ©</span>
    </div>
    </div>
</div>
