<div class="main-content">
<div class="container-main">
<div class="icon-bloc">
<img src="./../../../../assets/SVG/search.svg"/>
</div>
    <div class="input-block">
        <input [(ngModel)]="seachValue"  type="text" class="input" placeholder="Rechercher un produit, une marque, etc...">
    </div>
   
</div>
<div class="input-content-button">
    <app-button label="Rechercher" (clicked)="getValueWithButton()" [styles]="{height:'2.5rem', padding:'0 1.5rem', display:'flex', flexDirection:'column', justifyContent:'center', border:'1px solid transparent', marginLeft:'1rem'}"></app-button>
</div>
<button class="search-button-phone" (click)="getValueWithButton()">
    <img src="./../../../../assets/SVG/search.svg"/>
</button>
<!-- 
    <div class="pre-search-content" *ngIf="seachValue && closeSearchedList ">
        <div class="pre-search-content-title" *ngFor="let search of preSearchList">
            <div class="presearchItem" (click)="getSearchedValue(search)">
                <span>{{search}}</span>
                <img src="./../../../../assets/SVG/arrow-search.svg"/>
            </div>
        </div>
            
    </div> -->
</div>
