.main-phone {
    display: none;
    width: 100%;
}

.main-container-phone {
    display: flex;
    padding-top: 8rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo-content-phone {
    display: flex;
    align-items: center;
}

.menu-for-phone {
    display: none;
}

.menu-for-phone svg {
    width: 2rem;
    height: 2rem;
}

.logo-phone img {
    width: 4rem;
    margin-left: 0.5rem;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 4rem;
    width: 90%;
    margin: auto;
}

.panier-content-phone {
    display: flex;
    align-items: center;
    position: relative;
}

.user-info-item-phone img {
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
}

.panier-phone img {
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
}
.panier-phone{
    position: relative;
}
.panier-phone-length{
    position: absolute;
     top: -0.3rem;
    left: 0.5rem;
    display: flex;
    background-color: red;
    color: #fff !important;
    font-size: 0.8rem;
    padding: 0 0.2rem;
    border-radius: 0.5rem;
}

.serach-phone {
    margin-top: 1rem;
}

.logo img {
    width: 8rem !important;
    min-width: 8rem !important;
    max-width: 8rem !important;
}

.user-info-item span {
    color: #072AC8;
}

.user-info-item {
    display: flex;
    align-items: normal;
    margin-right: 3rem;
    cursor: pointer;
    position: relative;
    min-width: max-content;
    position: relative;
}

.panierLength {
    position: absolute;
    top: -0.5rem;
    left: -0.7rem;
    display: flex;
    background-color: red;
    color: #fff !important;
    font-size: 0.8rem;
    padding: 0 0.2rem;
    border-radius: 0.5rem;
}

.toggle-container {
    position: absolute;
    width: 20rem;
    background-color: #fff;
    top: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    z-index: 99999;
}

.toggle-item {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

.toggle-item-text {
    color: #000 !important;
    margin-left: 0.5rem;
}

.toggle-item:hover .toggle-item-text {
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.toggle-item img {
    width: 1.8rem;
    height: auto;
}

.user-info {
    display: flex;
    align-items: center;

}

.nav-container {
    display: none;
}

.toggle-icon {
    width: 1.5rem;
}

@media screen and (max-width: 767px) {
    .main-container {
        display: none;
    }

    .main-phone {
        display: block;
    }

    .menu-for-phone {
        display: block;
    }

    .user-info {
        display: none;
    }

    .nav_container_phone {
        display: block;
        position: absolute;
        z-index: 999;
        top: 7rem;
        width: 100%;
    }

    .main-container-phone {
        padding-left: 0.5rem;
        padding-right: 0.5rem
    }

    .serach-phone {
        margin-left: 0.5rem;
        margin-right: 0.5rem
    }

    .toggle-container {
        right: 0;
    }
}