<div class="localisation-container">
<div class="search-title">
    <span class="fixed-title" (click)="goToHome()">Accueil</span>
    <img src="./../../../../assets/SVG/chevron_droit.svg" />
    <span class="search-value">Localisation</span>
</div>

<div class="info-content">
    <span class="info-content-title">Où nous trouver</span>
   <span class="info-content-text">
    Nous sommes situés à 150 mètres du nouveau CHU d’Angré, en face du nouveau marché de Djorogobité.
   </span>
   <span class="info-content-end">Venez nous rendre visite !</span>
</div>

    <div class="map-main">
        <div class="map-content">
        <app-localisation-map></app-localisation-map>
        </div>
    </div>
</div>