.localisation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #a2d6f970;
    height: 100vh;
}

.map-main {
    height: 50vh;
    position: relative;
    width: 80%;
    border: 2px solid #072AC8;
    margin-top: 2rem;
}

.search-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    margin-top: 3rem;
}
.fixed-title{
    color: #072AC8;
    cursor: pointer;
}
.search-value{
    font-style: italic;
    font-weight: bold;
}
span.info-content-title {
    font-size: 2rem;
}
.info-content {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
span.info-content-text {
    width: 25rem;
    margin: 1rem 0rem;
}
span.info-content-end {
    font-size: 1.2rem;
}

// phone
@media screen and (max-width: 768px) {
    span.info-content-text {
    width: 80%;
    text-align: center;
    font-size: 0.9rem;
    
}
span.info-content-title {
    font-size: 1.3rem;
}

}


