.localisation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.map-main {
    height: 70vh;
    position: relative;
    width: 80%;
    border: 1px solid #000;
    margin-top: 2rem;
}

.search-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    margin-top: 3rem;
}
.fixed-title{
    color: #072AC8;
    cursor: pointer;
}
.search-value{
    font-style: italic;
    font-weight: bold;
}

