.commande-image{
    width: 7rem;
    height: 7rem;
    background-image: url('./../../../../assets/SVG/categorie-produit-smartphone.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem 0 0 1rem;
}
.commande-article-info{
    display: flex;
    flex-direction: column;
    width: 15rem;
}
.panier-resume-item{
    display: flex;
    gap: 3rem;
    align-items: center;
}
.bloc1{
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 1rem;
}
.action-container{
    width: 8rem;
}
.article-name{
    font-size: 1.1rem;
    color: #000;
    font-weight: bold;
}
.article-price{
    color: #111111;
}
.btn-remove{
    color: #072AC8;
    font-size: 0.9rem;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 0.5rem;
}
.bloc2{
    display: flex;
    gap: 2rem;
}
.article-quantity{
    font-size: 0.8rem;
    color: #FFC600;
}

// phone
@media screen and (max-width: 768px) {
    .panier-resume-item{
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .commande-image{
        width: 30%;
        height: 6rem;
    }
    .article-name{
        font-size: 0.8rem;
    }
    .article-price{
        font-size: 0.8rem;
    }
    .commande-article-info{
        width: 66%;
    }
    .bloc2{
        flex-direction: column;
        gap: 0.5rem;
        align-items: end;
    }
    .bloc1{
        gap: 0.5rem;
        width: 60%;
    }
    .action-container{
        width: 6rem;
    }
    .price-total{
        font-size: 0.8rem;
    }
}