
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.illustre-image span{
    font-size: 4rem;
}

.fixed-title{
    color: #072AC8;
    cursor: pointer;
}
.search-value{
    font-style: italic;
    font-weight: bold;
}

.list-articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
    padding-right: 2rem;
    position: relative;
    margin-bottom: 2rem;
    gap: 2rem;
}


.search-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-left: 5rem;
    margin-top: 3rem;
}
.pagination-bloc{
    position: absolute;
    bottom: -2rem;
    right: 0
}
.footer-banner{
    width: 100%;
}

@media screen and (max-width: 767px) {
    .banner-bloc{
      margin-top: 3rem;
  }
  .presentation-bloc{
      width: 100%;
    
  }
  .main-container{
     display: none;
  }
  .main-phone{
      display: block;
  }
  
  .main{
      padding-left: 0.5rem;
      padding-right: 0.5rem;
   }
   .banner-bloc{
     
      margin-top: 1rem;
  }

  .list-articles{
    width: 100%;
    padding: 0rem;
    justify-content: space-between;
    gap: 0rem;
}

.list-articles-container{
    width: 49%;
    margin-right: 0rem;
    margin-bottom: 0.5rem;
}
.search-title{
    padding-left: 0rem;
    margin-bottom: 1rem;
}
}
