<div class="main">
    
<div class="search-title">
    <span class="fixed-title" (click)="goTohome()">Accueil</span>
    <img src="./../../../../assets/SVG/chevron_droit.svg" />
    <span class="search-value">{{searchedWords}}</span>
    <span class="search-value">{{ categorieName}}</span>
   
</div>
 <ng-container *ngIf="!articles?.length ; else noArticle" >
  <span class="no-data-lib" *ngIf="!articles?.length && searchedWords">Aucun résultat pour "{{searchedWords}}"</span>
  <span class="no-data-lib" *ngIf="!articles?.length && !searchedWords">Aucun résultat trouvé</span>
 </ng-container>
<ng-template #noArticle>
<div class="list-articles">
    <div class="list-articles-container" *ngFor="let article of articles">
        <app-simple-article-card-item [productData]="article"></app-simple-article-card-item>
    </div>
    <!-- <div class="pagination-bloc" *ngIf="articles?.length">
        <app-pagination   [totalCount]="totalCount" (changePage)="onChangePage($event)"></app-pagination>
    </div> -->
</div>
</ng-template>

<div class="footer-banner">
<app-footer-banner></app-footer-banner>
</div>
</div>
