.tendance-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    
}
.main-tendace{
    padding: 0 5rem;
}
.tendance-products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}
.more-btn{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.tendance-list {
    margin-bottom: -2rem;
}
.main-tendace-block1{
    background-color: #A2D6F9;
    padding: 2rem;
    margin-top: 3rem;
}
.tendance-title{
    font-size: 2rem;
    font-weight: 600;
}
.noProductMessage{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    font-size: 1.5rem;
    color: #626A8F;
}

.chip-btn-container {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
}
.search-title{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
}
.fixed-title{
    color: #072AC8;
    cursor: pointer;
}
.search-value{
    font-style: italic;
    font-weight: bold;
}
.djet{
    width: 100%;
}
.footer-banner{
    margin-top: 2rem;
    margin-bottom: 2rem;

}

// phone
@media screen and (max-width: 767px) {
    .main-tendace-block1{
        padding: 0 0.5rem;
        margin-top: 2rem;
    }
    .tendance-products{
        gap: 0rem;
        width: 100%;
        justify-content: space-between;
    }
    .tendance-list{
        margin-bottom: -1rem;
        width: 48%;
    }
    .tendance-title{
        font-size: 1.3rem;
    }
    .tendance-header{
        padding-top: 1rem;
    }
     .chip-btn-container{
        gap: 0.2rem;
        margin-left: 0.5rem;
    }
    .search-title{
        padding: 0 0.5rem;
    }
    .main-tendace{
    padding: 0 0;
}

}