<div class="main-content">
    <div class="search-title">
    <span class="fixed-title" (click)="goToHome()">Accueil</span>
    <img src="./../../../../assets/SVG/chevron_droit.svg" />
    <span class="search-value">Contact</span>
</div>
    <img  src="./../../../../assets/SVG/Logo-Djet-blue.svg" alt="logo djet">
<div class="support-container">

  <h1 class="support-header">Besoin d’aide ou une question ?</h1>
  <p class="support-text">
    Notre équipe est à votre écoute <strong>du lundi au samedi, de 10h00 à 20h00</strong>.
  </p>

  <p class="support-text">📞 Vous pouvez nous contacter :</p>
  <ul class="contact-list">
    <li>
      <i class="fab fa-whatsapp" style="color: #25D366;"></i>
      <a (click)="openwhatsapp()" target="_blank">Par WhatsApp : +225 07 58 79 85 24</a>
    </li>
    <li>
      <i class="fas fa-phone-alt" style="color: #007bff;"></i>
      <span href="tel:+2250758798524">Appel téléphonique : +225 07 58 79 85 24</span>
    </li>
  </ul>

  <p class="footer">Djet Technologie, votre référence en produits TECH 100% authentiques</p>
</div>
</div>
