<div class="container-main">
<div class="container-content">
    <img src="./../../../../assets/SVG/Logo-Djet-blue.svg" alt="logo djet">
    <div class="msg-content">
        <img src="./../../../../assets/SVG/check_circle.svg">
        <span class="title">Félicitation !</span>
        <span>Vous avez créez votre compte avec succès 🎉. </span>
        <span class="info-for-user">
            Nous vous avons envoyé un lien de confirmation par email, Si vous ne recevez pas cet e-mail dans les 3 minutes, veuillez vérifier vos spams.
        </span>
        <app-button (clicked)="gotToLogin()" label="Connectez-vous" [styles]="{paddingLeft:' 3rem', paddingRight:'3rem'}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 1 1-1.06-1.06l6.22-6.22H3a.75.75 0 0 1 0-1.5h16.19l-6.22-6.22a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
              </svg>
              
        </app-button> 
    </div>

</div>
</div>
