.simple-article{
    width: 15rem;
    height: 23rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    
}
.article-image{
    width: 100%;
    height: 12rem;
    background-position:top;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem 1rem 0 0;
    position: relative;
}
.article-info{
    background-color: #F6FBFF;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0 0 1rem 1em;
    height: 11rem;
    padding-top: 0 !important;
}
.available_text_style {
    padding-top: 1rem !important;
}

.article-name{
    font-weight: bold;
    height: 3rem;
    max-height: 3rem;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5rem;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.caracteristic-bloc{
    display: flex;
    flex-direction: column;
}
.haert-container{
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 2rem;
    height: 2rem;
    z-index: 99;
    
  }
  .heart, .outheart svg{
    width: 2rem;
    height: 2rem;
    color: #FFC600;
}
span.available-text {
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
    color: red;
    background: #80808047;
}
.discount-percent {
    position: absolute;
    bottom: 0;
    color: #072AC8;
    font-weight: 600;
    font-size: 0.9rem;
    background-color: #FFC600;
    height: 3rem;
    width: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.article-price-old{
    font-size: 0.8rem;
    text-decoration: line-through;
    color: #626A8F;
}

// phone 
@media screen and (max-width: 768px) {
    .simple-article{
        width: 100%;
    }
    .article-name{
        font-size: 0.8rem;
        line-height: normal;
        margin-bottom: 0.5rem;
    }
}
