<div class="update-identifiant-container">
    <span class="update-id-title">Identifiant</span>
    <div class="update-id-info">
        <app-key-value-item key="Email" value="hazizu@gmail.com"></app-key-value-item>
        <app-key-value-item key="mot de passe" value="********" [styles]="{marginLeft:'2rem'}"></app-key-value-item>
    </div>
    <div class="update-button-bloc">
        <app-button [styles]="{padding:'0.5rem 3rem 0.5rem 3rem'}" label="Modifier mes identifiants"></app-button>
    </div>
</div>
