/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
body{
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: auto;
  }
.carousel-inner {
    position: relative !important;
    width: 55rem !important;
    overflow: hidden !important;
    border-radius: 2rem !important;
    height: 26rem !important;
}
.picsum-img-wrapper img {
    width: 100% !important;
}

#popup-container{
    width: 20rem;
    height: 14rem;
}

.leaflet-popup-content {
     margin: 0px 0px 0px 0px !important; 
     width: auto !important;
    /* line-height: 1.3; */
}
.leaflet-popup-content-wrapper {
     padding: 0px !important;   
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background-color: white !important;
    
}
.leaflet-popup-tip {
    width: 23px !important; 
    height: 23px !important;
    
}
// phone
@media screen and (max-width: 768px)  {
    .carousel-inner {
        width: 100%!important;
        height: 100%!important;
    }
#popup-container{
    width: 10rem;
}
}

 