/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
body{
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: auto;
  }
.carousel-inner {
    position: relative !important;
    width: 55rem !important;
    overflow: hidden !important;
    border-radius: 2rem !important;
    height: 26rem !important;
}
.picsum-img-wrapper img {
    width: 100% !important;
}
// phone
@media screen and (max-width: 768px)  {
    .carousel-inner {
        width: 100%!important;
        height: 100%!important;
    }
}

