.product-image {
    width: 4rem;
    height: 4rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem 0 0 1rem;
}
.image-bloc {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}
.product-infos {
    display: flex;
    flex-direction: column;
    min-width: 18rem;
}
.detail-product {
    display: flex;
    align-items: flex-start;
}
.product-name{
    font-weight: bold;
    font-size: 0.9rem;
}
.product-price{
    font-size: 0.8rem;
}
.info-content{
    display: flex;
    flex-direction: row;
    align-items: center;
  
}

// phone 
@media screen and (max-width: 768px) {

.image-bloc {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.info-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}
.product-image {
    width: 5rem;
    height: 5rem;
   
}

}