<div class="detail-product">
    <div class="image-bloc">
        <div class="product-image" [style.backgroundImage]=" getBackgroundImage()"></div>
        <div class="info-content">
            <div class="product-infos">
                <span class="product-name">{{product?.name}}</span>

                <span class="product-price">{{product?.price}} FCFA</span>
                 <span class="product-price"><span>Quantité: </span>{{product?.quantity}}</span>
            </div>
            <app-button [styles]="{paddingTop:'0.3rem', paddingBottom:'0.3rem', fontSize:'0.7rem'}"
                label="Commander à nouveau"></app-button>
        </div>
    </div>